.mijn-padding-right {
    padding-right: 1em;
}

body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.wireframe {
    margin-top: 2em;
}

body {
    padding-bottom: 6em;
    margin-bottom: 10em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}

html {
    position: relative;
    min-height: 100%;
    height: unset;
}

.ui.footer.segment {
    padding-bottom: 2em;
    padding-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}