{# Dit toont de verschillende munten, bij het klikken wordt er een munt ingeworpen #}

{# {{ dump(geldladeLijst)}} #}

    {% for item in geldladeLijst %}
        <a href="?actie=werpmunt&muntId={{ item.id}}&munt={{item.munt}}"> <button class="ui primary button">
            €
            {{ item.munt }}
        </button>
    </a>
{% endfor %}
