{# Te gebruiken voor het voleldige overzicht te zien (en te bestellen) #}

{# {{ dump(frisdrankLijst)}} #}

{% set admin = ingelogd %}
{# {{ dump(admin) }} #}

{# Array voor images  #}
{% set imgArray = {
    "1" :  "https://www.prikentik.be/media/catalog/product/cache/e4d64343b1bc593f1c5348fe05efa4a6/c/o/coca-cola-orginal-blik-33cl.png" ,
   "2": "https://www.prikentik.be/media/catalog/product/cache/e4d64343b1bc593f1c5348fe05efa4a6/f/a/fanta-zero-orange-blik-33cl.png"
} %}
    <div class="ui four column grid  special cards"> {% for frisdrank in frisdrankLijst %}
        {% set frisdrankId = frisdrank.id %}
        {# <a href=""> #}
        <div class="column ">
            <div class=" ui fluid card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                {% if frisdrank.aantal > 0 %}
                                    <a class=" ui inverted button" href="?actie=koop&frisdrank={{frisdrankId}}">Koop
                                    </a>
                                {% else %}
                                    <button class=" ui inverted button" disabled>Uitverkocht</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if imgArray[frisdrankId] is defined %}
                        <img src="{{imgArray[frisdrankId]}}" alt="foto van {{ frisdrank.naam}}">
                    {% else %}
                        <img alt="foto van {{ frisdrank.naam}}" src="https://via.placeholder.com/300">
                    {% endif %}
                </div>
                <div class="content">
                    <a class="header">{{ frisdrank.naam}}</a>
                    <div class="description">
                        <div>€
                            {{frisdrank.prijs}}</div>
                        {% if admin %}
                            <div>aantal:
                                {{frisdrank.aantal }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {# </a> #}
    {% endfor %}
</div>
{% if admin %}
    <div class="ui ">
        <form class="ui form" method="get">
            <input class="transition hidden" name="actie" readonly value="pasFrisdrankAan">
            <button class="ui right floated small labeled icon button" type="submit">
                <i class="edit icon"></i>
                Vul frisdrank aan
            </button>
        </form>
    </div>
{% endif %}
