{# Te gebruiken voor teruggave en voor het volledige overzicht te zien #}
{# {{ dump(geldladeLijst) }} #}
{# {{ dump(ingelogd)}} #}
    {% if  ingelogd %}

        <form class="ui form" method="POST"> <table class="ui celled table">
            <input class="transition hidden" name="actie" readonly value="pasMuntenAan">
            <thead>
                <tr>
                    <th>id</th>
                    <th>munt</th>
                    <th>aantal</th>
                    {# <th></th> #}
                </tr>
            </thead>
            <tbody>
                {% for item in geldladeLijst %}
                    <tr>
                        <td data-label="id">{{item.id}}</td>
                        <td data-label="munt">€{{item.munt}}</td>
                        <td data-label="aantal">
                            <input name="{{item.id}}" placeholder="0" type="text" value="{{item.aantal}}">
                        </td>
                        {# <td></td> #}
                    </tr>
                {% endfor %}

            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="4">
                        <button class="ui right floated small labeled icon button" type="submit">
                            <i class="edit icon"></i>
                            Pas aantal aan
                        </button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </form>
{% endif %}
