<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui image header">
            <img class="image" src="src/assets/img/dflogo.png">
            <div class="content">
                Login op Dizzy Frinks
            </div>
        </h2>
        <div>
            <form class="ui large form" method="POST">
                <input class="transition hidden" name="actie" readonly value="login">
                <div class="ui stacked ">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input name="username" placeholder="admin" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input name="password" placeholder="admin" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid large submit button">Login</div>
                </div>

                <div class="ui error message"></div>

            </form>
        </div>
    </div>
</div>